<MudPaper Width="300px">
    <MudText Typo="Typo.h6">Flight Deck</MudText>
    <MudList Clickable="true">
        @foreach (var aircraft in AircraftOnFlightDeck)
        {
            <div class="pa-4">
                <div class="d-flex">
                    <MudText Typo="Typo.body2">@aircraft.Designation</MudText>
                    <MudText Typo="Typo.body2">@aircraft.Name</MudText>
                </div>
            </div>
            @*<MudButton Variant="Variant.Filled"
                       Color="Color.Primary"
                       FullWidth="true"
                       @onclick="(args) => OrderAircraftToHangar(args, aircraft)">
                Send to Hangar
            </MudButton>*@
        }
    </MudList>
</MudPaper>