@using CarrierConstruct.Blazor.Components.UI
@using CarrierConstruct.Blazor.Interfaces

<p class="cc-h2">Flight Deck</p>

<div>
    @foreach (var aircraft in AircraftOnFlightDeck)
    {
        <AircraftCardComponent Aircraft="aircraft" 
                               OnAircraftCardClicked="(args) => SelectAircraft(args, aircraft)" 
                               ClickDisabled="orderInProgress"
                               IsSelected="selectedAircraft.Contains(aircraft)"/>
    }
</div>

<button @onclick="OrderSelectedAircraftToHangar" class="cc-button">
    Order to Hangar
</button>

<div>
    <p>Selected Aircraft:</p>
    @foreach (IAircraft a in selectedAircraft)
    {
        <p>@a.Name - @a.Modex</p>
    }
</div>
