@*<div class="d-flex">
    @foreach (var elevator in AircraftElevators)
    {
        <MudPaper Class="pa-6 ma-6" Elevation="3">
            <MudText Typo="Typo.subtitle2">Elevator @elevator.ElevatorNumber:</MudText>
            <MudText Typo="Typo.subtitle2">Location:</MudText>
            <MudText Typo="Typo.body1">@elevator.Location</MudText>
            
            <MudText Typo="Typo.subtitle2">Aircraft:</MudText>
            @if (elevator.AircraftOnElevator == null)
            {
                <MudText Typo="Typo.body1">None</MudText>
            }
            else
            {
                @foreach (var aircraft in elevator.AircraftOnElevator)
                {
                    <MudText Typo="Typo.body1">@aircraft.Name</MudText>
                }
            }
        </MudPaper>
    }
</div>*@
    

<MudPaper Width="300px">
    <MudText Typo="Typo.h6">Flight Deck</MudText>
    <MudList Clickable="true">
        @foreach (var aircraft in AircraftOnFlightDeck)
        {
            <MudListItem Text="@aircraft.Name"/>
        }
    </MudList>
</MudPaper>