@using CarrierConstruct.Blazor.Enums
@using CarrierConstruct.Blazor.Interfaces
@using System.Linq
<MudPaper Width="300px">
    <MudText Typo="Typo.h6">Hangar</MudText>

    @foreach (var aircraft in AircraftInHangar)
    {
        <MudButton Class="pa-4" OnClick="(args) => SelectAircraft(args, aircraft)" Disabled="orderInProgress">
            <div class="d-flex">
                @if (selectedAircraft.Contains(aircraft))
                {
                    <MudPaper Class="mud-theme-primary">
                        <MudIcon Icon="@Icons.Material.Filled.ArrowCircleUp" Title="Favorite" />
                    </MudPaper>
                }
                <MudText Typo="Typo.body2">@aircraft.Name</MudText>
                <MudText Typo="Typo.body2">@aircraft.Modex</MudText>
            </div>
        </MudButton>
    }
    
    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               FullWidth="true"
               OnClick="OrderSelectedAircraftToFlightDeck"
               Disabled="orderInProgress || selectedAircraft.Count == 0">
        Order Selected Aircraft to Flight Deck
    </MudButton>
    
    <div>
        @foreach (IAircraft a in selectedAircraft)
        {
            <p>@a.Name</p>
        }
    </div>
    
</MudPaper>