@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Inconsolata');
@import "Theme.scss";
@import "Typography.scss";
@import "FlightDeckMap.scss";

html {
    height: 100%;
    background-color: #1B2737;
    color: #AAC5BA;
    font-family: 'Inconsolata', serif;

    border: 1px solid red;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;

    border: 1px solid pink;
}

.cc-page-wrapper {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid green;
}

.cc-air-ops-page-wrapper {
    display: flex;
    /*justify-content: space-between;*/
    /*max-width: 2000px;*/

    border: 2px solid yellow;
}

.cc-air-ops-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 2000px;
    padding: 16px;

    border: 2px solid red;
}

.cc-air-ops-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #AAC5BA;
    width: 300px;

    div {
        flex: auto;
        padding: 8px;

        border: 2px solid purple;
        /*height: auto;*/
    }
}

.cc-aircraft-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1500px;
}

.cc-aircraft-chip {
    height: 60px;
    width: 60px;
    margin: 8px;
    padding: 0px;
    background-color: #1B2737;
    color: #AAC5BA;
    font-family: 'Inconsolata', serif;
    border: 2px solid #AAC5BA;

    &:hover {
        color: #FAFF70;
        font-weight: bold;
        border: 2px solid #FAFF70;
    }

    .cc-chip-selected {
        background-color: #CCFF33;
        color: #1B2737;
    }
}

.cc-elevator-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cc-elevator-card {
    display: flex;
    flex-direction: column;
    margin: 20px 56px;
    padding: 16px 36px;
    border: 2px solid #AAC5BA;
}

.cc-button {
    background-color: #1B2737;
    color: #AAC5BA;
    padding: 12px 24px;
    margin: 8px;
    border: 2px solid #AAC5BA;
    text-transform: uppercase;
    letter-spacing: 4px;

    &:hover {
        color: #FAFF70;
        border: 2px solid #FAFF70;
        /*background-color: #FAFF70;
    color: #1B2737;*/
    }
}

.cc-divider {
    border: none;
    min-width: 500px;
    max-width: 2000px;
    border-top: 2px dashed #AAC5BA;
}

.cc-lr-box {
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
}

    /*warn FAFF70
succ CCFF33
err FF495C*/