/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');*/

:root {
   /* --footer-background: #404040;
    --header-background: #404040;
    --header-font: Poppins,sans-serif;
    --navbar-brand-background: #dd6e0f;
    --navbar-brand-color1: white;
    --navbar-brand-color2: #808080;
    --page-background: #f9f9f9;*/
}
