.cc-h1 {
    font-family: 'Major Mono Display', serif;
    font-size: 36px;
    font-weight: 800;
}

.cc-h2 {
    font-family: 'Major Mono Display', serif;
    font-size: 24px;
}


.cc-text-small {
    font-size: 12px;
    color: #5B8674;
}
