@page "/"
@using CarrierConstruct.Blazor.Components

<MudContainer>
    <MudText Typo="Typo.h4">Air Ops</MudText>

    <FlightDeckComponent @ref="flightDeckComponent"/>
    
    <MudDivider Class="my-4" />

    <div class="d-flex">
        @foreach (var elevator in aircraftElevators)
        {
            <MudPaper Class="pa-6 ma-6" Elevation="3">
                <MudText Typo="Typo.subtitle2">Elevator @elevator.ElevatorNumber</MudText>
                <div class="d-flex">
                    <MudText Typo="Typo.subtitle2">Location:</MudText>
                    <MudText Typo="Typo.body1">@elevator.Location</MudText>
                </div>
                <MudText Typo="Typo.subtitle2">Aircraft:</MudText>
                @if (elevator.AircraftOnElevator == null)
                {
                    <MudText Typo="Typo.body1">None</MudText>
                }
                else
                {
                    @foreach (var aircraft in elevator.AircraftOnElevator)
                    {
                        <MudText Typo="Typo.body1">@aircraft.Name</MudText>
                    }
                }
            </MudPaper>
        }
    </div>
        
    <MudDivider Class="my-4" />

    <HangarComponent @ref="hangarComponent" 
                             OnAircraftOrderedToFlightDeck="TransferAircraftViaElevator"/>
        
           
</MudContainer>


